<div class="container">
    <div class="banner">
        <p>Beginning fall quarter, in addition to online/remote, select courses will be offered in-person. View more <a href="https://www.uclaextension.edu/ucla-extension-alerts">COVID-19 Updates</a></p>
    </div>

    <div class="logo">
        <h2>UCLA Extension</h2>
    </div>

    <div class="menu">
        <LinkTo @route="home">Home</LinkTo>
        <LinkTo @route="contact">Contact</LinkTo>
        <LinkTo @route="about">About</LinkTo>
    </div>

    <div class="hero">
      <h1>{{@title}}</h1>
    </div>
</div>