{{page-title "About"}}

<div class="hero">
    <h1>About UCLA Extension</h1>
</div>

<div class="container">
 
    <div class="content">
        <h2>Excellence in Education</h2>
        <p>
            For over a century, UCLA Extension has helped prepare people to live better lives through the power of education. 
            <br>As one of the nation’s oldest, largest and most comprehensive continuing and professional studies providers, UCLA Extension gives you a wide range of options to advance in your career, switch careers, or achieve personal growth.
        </p>
        
        <p>UCLA Extension offers:</p>
    
        <ul>
            <li>The excellence that comes with a UCLA-approved curriculum</li>
            <li>Open enrollment—most courses require no admission decision</li>
            <li>Evening, weekend, daytime and online courses</li>
            <li>Locations throughout L.A.—Westwood, DTLA, and Woodland Hills</li>
        </ul>
    
        <h2>Mission & Values</h2>
        <p><strong>Mission</strong></p>
        <p>We are UCLA, offering exceptional continuing, lifelong, and professional education to empower individuals and organizations to thrive in an ever changing world.</p>
        <p><strong>Values</strong></p> 
        <p>We create innovative, socially just pathways to pursue knowledge and apply skills by connecting the resources of UCLA with diverse and worldwide communities. Our alumni are leaders, change-makers, and open thinkers, whose creative impact effects positive change in local and global communities.</p>
    </div>
</div>
{{outlet}}